.button {
  display: block;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-decoration: none;
  color: #ffffff;
  background-color: @background-color-1;
  text-align: center;
  text-transform: uppercase;
}
