.catalog__header {
  padding: 33px 20px 20px;
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog__item {
  padding: 25px 20px;
  border-top: 1px solid #e5e5e5;
}

.catalog__item:last-child {
  border-bottom: 1px solid #e5e5e5;
}
