.copyright {
  position: relative;
  display: block;
  padding: 15px 50px 15px 17px;
  max-width: 200px;
  box-sizing: border-box;
  color: @color-secondary;
  text-decoration: none;
}

.copyright__logo {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
