.intro {
  padding: 90px 20px 85px;
  box-sizing: border-box;
  width: 100%;
  background: url("../img/intro/intro-triangle-1.svg") bottom no-repeat,
    url("../img/intro/intro-background.jpg") bottom/auto 100% no-repeat,
    #5496bd;

  &--secondary {
    padding: 52px 45px 67px;
    background-size: auto;
    background-position: bottom, 50% 80%;
  }

  @media (min-width: @tablet) {
    padding: 77px 20px 90px;

    &--secondary {
      padding: 100px 45px 120px;
      background-position: bottom;
    }
  }

  @media (min-width: @desktop) {
    background-size: 100% auto;
  }
}

.intro__description-image {
  display: block;
  margin: 0 auto;
  height: auto;

  @media (min-width: @tablet) {
    width: 460px;
  }
}
