.intro {
  padding: 90px 20px 85px;
  box-sizing: border-box;
  width: 100%;
  background: url("../img/intro/intro-background.jpg") center no-repeat, #5496bd;

  &--secondary {
    padding: 52px 45px 67px;
  }
}

.intro__description-image {
  display: block;
  margin: 0 auto;
}
