.navigation {
  position: relative;

  @media (max-width: @tablet) {
    &--active .navigation__toggle-icon--closed {
      display: none;
    }

    &--active .navigation__toggle-icon--opened {
      display: block;
    }

    &--active .navigation__list {
      display: block;
    }
  }
}

.navigation__toggle {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  width: 63px;
  height: 56px;
  border: none;
  background-color: transparent;
  cursor: pointer;

  @media (min-width: @tablet) {
    display: none;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.navigation__toggle-icon {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;

  &--closed {
    display: block;
    color: @background-color-secondary;
  }

  &--opened {
    display: none;
    color: @color-light;
  }
}

.navigation__list {
  position: absolute;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  display: none;

  @media (min-width: @tablet) {
    position: static;
    display: grid;
    align-items: stretch;
    grid-template-columns: repeat(5, 20%);
    grid-template-areas: "item-1 item-2 . item-3 item-4";
  }
}

.navigation__item {
  @media (max-width: @tablet) {
    &:last-child::after {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 7px;
      bottom: 0;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
    }
  }

  @media (min-width: @tablet) {
    each(range(1, 4, 1), {
      &:nth-child(@{index}) {
        grid-area: ~"item-@{index}";
      }
    });
  }
}

.navigation__link {
  padding: 17px 10px 12px;
  display: block;
  height: 100%;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-decoration: none;
  color: @color-light;
  background-color: @background-color-secondary;
  text-align: center;

  @media (max-width: @tablet) {
    .navigation__item:not(:first-child) & {
      border-top: 1px solid rgba(255, 255, 255, 0.2);
    }

    .navigation__item:not(:last-child) & {
      border-bottom: 1px solid rgba(1, 1, 1, 0.2);
    }

    &:not(&--current):hover {
      background-color: @background-color-secondary-2;
    }

    &:not(&--current):active {
      color: fade(@color-light, 30%);
      background-color: @background-color-secondary-3;
    }
  }

  @media (min-width: @tablet) {
    padding-top: 18px;
    padding-bottom: 17px;
    font-size: 14px;
    line-height: 21px;
    background-color: transparent;
    color: @color-secondary;
    box-shadow: none;

    &--current {
      color: #766357;
    }

    &:not(&--current):hover {
      color: @background-color-secondary;
    }

    &:not(&--current):active {
      color: @color-secondary;
      opacity: 0.3;
    }
  }
}
