.review__header {
  margin: 0 auto;
  padding: 36px 20px 28px;

  @media (min-width: @tablet) {
    padding-bottom: 102px;
  }
}

.review__form {
  margin: 0 auto;
  max-width: 648px;

  @media (min-width: @tablet) {
    padding: 0 60px 64px;
    max-width: 960px;
  }
}
