.socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  padding: 0;
  width: 162px;
  list-style: none;
}

.socials__link {
  display: block;
  margin: 0 6px 6px 0;
  width: 48px;
  height: 48px;
  background-color: @background-color-secondary;
}
