//Colors
@color-main: #333333;
@color-secondary: #000000;
@color-light: #ffffff;
@background-color-main: #ffffff;
@background-color-secondary: #81b3d2;
@background-color-secondary-2: #669ec0;
@background-color-secondary-3: #5496bd;

//Media queries
@tablet: 768px;
@desktop: 1200px;
